# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/prisma/

# Uploads
public/uploads/*/

# Playwright
tests/screenshots/
playwright-report/
test-results/

# TypeScript
*.tsbuildinfo
next-env.d.ts
